[workspace]
members = [ "amygui", "amylib", "amymath", "amyvec", "raylib_rs", "rltest"]

[package]
name = "vector-art-program"
version = "0.1.0"
edition = "2021"

[dependencies]
raylib = "5.0.2"
amylib = { path = "amylib" }
amymath = { path = "amymath" }
amygui = { path = "amygui" }
amyvec = { path = "amyvec" }
raylib_rs = { path = "raylib_rs" }

[raylib_rs.cfg]
graphics_api = "opengl_33"
