[workspace]
members = [ "amygui","amylib", "amymath"]

[package]
name = "vector-art-program"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.9.0"
raylib = "5.0.2"
amylib = { path = "amylib" }
amymath = { path = "amymath" }
amygui = { path = "amygui" }
